<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Vao.Sample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Vao.Sample.Properties.Settings>
            <setting name="Host1" serializeAs="String">
                <value />
            </setting>
            <setting name="Host2" serializeAs="String">
                <value />
            </setting>
            <setting name="ApiPort" serializeAs="String">
                <value>444</value>
            </setting>
            <setting name="UseHttps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IgnoreCertificateErrors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value />
            </setting>
        </Vao.Sample.Properties.Settings>
    </userSettings>
</configuration>